<p>
<label>Name</label>
<span>:</span>
<%= @user.name %>
</p>

<p>
<label>Age</label>
<span>:</span>
<%= @user.age %>
</p>

<p>
<label>gender</label>
<span>:</span>
<%= @user.gender %>
</p>


<%= link_to 'Back', users_path %>
